.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


html, body {
  height: 100%;
}

body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  font-family: Helvetica Neue;
}

.autocomplete-results {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);

  li {
    background: #fff;
  }

  li:hover {
    background: #c6dcff;
  }
}


